body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background:linear-gradient(135deg,#f4f6f9,#e6ecf5);
}

header{
    text-align:center;
    padding:25px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
    border-bottom: 2px solid #4DA3FF;
}

header h1{
    margin:0;
    font-size:32px;
    font-weight:600;
}

header p{
    margin:5px 0 0;
    color:#777;
}

.main{
    display:flex;
    justify-content:center;
    align-items:stretch; /* важно */
    gap:80px;
    min-height:70vh;
    padding:40px 20px;
}

/* КАРТОЧКА */
.card{
    width:260px;
    height: 100px;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px 20px;
}

/* КАРТИНКА */
.card img{
    width:110px;
    margin-bottom:20px;
}

/* КНОПКА */
.btn{
    margin-top:auto; /* ← это фиксирует кнопки на одном уровне */
    padding:12px 35px;
    border:none;
    border-radius:25px;
    background:linear-gradient(135deg,#4da3ff,#2f80ed);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    box-shadow:0 0 15px rgba(47,128,237,0.5);
}


footer{
    text-align:center;
    padding:15px;
    font-size:14px;
    color:#666;
}
