

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
}
header{
  background: #e5e5e5;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom:2px solid green;
}
footer{
    background:#e5e5e5 ;
    height: 50px;
    text-align: center;
}
footer p{
    position: absolute;
}

.top-bar h1 {
  font-size: 20px;
}

.buttons {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 10px;
  
}
.buttons a{
    border:2px solid black;
}

.buttons a , button {
  background: #ccc;
  padding: 5px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.buttons a:hover{
    background-color: black;
    color: white;
}
.buttons button:hover{
    background-color: black;
    color: white;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 200px;
}

.card {
  background: #ddd;
  width: 160px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.card:hover{
    width: 170px;
    height: 210px;
    background: #cccccc;
}


.card img {
  width: auto;
  height: 150px;
  border: 1px solid black;
}


main a {
  background: #8fe28f;
  border: 1px solid black;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
}
main a:hover{
    background-color: black ;
    color: white;
}
