body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #000;
}

header{
  background: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid #4da6ff;
}

footer{
  background: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}

footer p{
  position: static;
  font-size: 14px;
  color: #555;
}

.top-bar h1 {
  font-size: 20px;
}

.buttons {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 10px;
}

.buttons a,
.buttons button {
  background: #eaeaea;
  padding: 5px 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #999;
  color: black;
}

.buttons a:hover,
.buttons button:hover {
  background: #4da6ff;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 120px;
}

.card {
  background: #ffffff;
  width: 160px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
}

.card:hover{
  transform: scale(1.05);
  background: #f0f0f0;
}

.card img {
  width: auto;
  height: 150px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

main a {
  background: #4da6ff;
  color: white;
  border: none;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

main a:hover{
  background-color: #1a73e8;
}
