body {
  font-family: Arial, sans-serif;
  background: #ffffff;
}
header{
  background: #e5e5e5;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom:2px solid green;
}
footer{
    background:#e5e5e5 ;
    height: 50px;
    text-align: center;
}
footer p{
    position: absolute;
}

.top-bar h1 {
  font-size: 20px;
}

.buttons {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 10px;
  
}
.buttons a{
    border:2px solid black;
}

.buttons a , button {
  background: #ccc;
  padding: 5px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.buttons a:hover{
    background-color: black;
    color: white;
}
.buttons button:hover{
    background-color: black;
    color: white;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 200px;
}

.container {
  background: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin: 20%;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

ol{
  padding-left: 20px;
}

ol li {
  margin-bottom: 12px;
  line-height: 1.4;
}

.accept{
  display: block;
  margin: 25px auto 0;
  padding: 10px 30px;
  background: #8fe28f;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.accept:hover {
  background: black;
  color: white;
}
