html, body{
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    font-family:'Segoe UI', sans-serif;
    background:#f2f4f8;
}

/* HEADER */
header{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    background:white;
    border-bottom:2px solid #4da3ff;
    box-sizing:border-box;
}

header .center{
    font-size:24px;
    font-weight:600;
}

/* ОСНОВА */
.chat-container{
    display:flex;
    height:calc(100vh - 120px);
}

/* ЧАТ */
.chat-messages{
    flex:1;
    background:#f7f9fc;
    padding:20px;
    overflow-y:auto;
}

/* SIDEBAR */
.chat-sidebar{
    width:250px;
    background:white;
    border-left:1px solid #ddd;
    padding:20px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* INPUT */
.chat-sidebar input{
    padding:10px;
    border:1px solid #ccc;
    font-size:14px;
}

.chat-sidebar input:focus{
    outline:none;
    border:1px solid #4da3ff;
}

/* НИЖНЯЯ ПАНЕЛЬ */
.chat-input{
    height:60px;
    display:flex;
    align-items:center;
    padding:10px 20px;
    gap:10px;
    background:white;
    border-top:2px solid #4da3ff;
    box-sizing:border-box;
}

.chat-input input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    font-size:14px;
}

.chat-input input:focus{
    outline:none;
    border:1px solid #4da3ff;
}

.chat-input button{
    padding:10px 20px;
    background:#4da3ff;
    border:none;
    color:white;
    cursor:pointer;
}

.chat-input button:hover{
    background:#2f80ed;
}
a:hover{
    transform:translateY(-6px) scale(1.03);
    box-shadow:0 0 12px rgba(47,128,237,0.4);
}
