body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}
header{
  background: #e5e5e5;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom:2px solid green;
  color: black;
}
header p{
    position: absolute;
    color: black;
    left:5px;
}
.buttons {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 10px;
}
.buttons a{
    border:2px solid black;
}
.buttons a , button {
  background: #ccc;
  padding: 5px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.buttons a:hover{
    background-color: black;
    color: white;
}
.buttons button:hover{
    background-color: black;
    color: white;
}
.chat-container {
    display: grid;
    grid-template-columns: 1fr 220px;
    grid-template-rows: 1fr 70px;
    height: 100vh;
}
main{
    background: #ffffff;
}
.chat-window {
    padding: 10px;
    overflow-y: auto;
    background: #FFFAFA;
}
.message {
    margin-bottom: 6px;
}
.message b {
    color: #000000;
}
.side-panel {
    padding: 10px;
    background: #696969;
}
.side-panel input {
    width: 100%;
    padding: 8px;
    background: #808080;
    color: white;
}
.bottom-panel {
    grid-column: 1 / 3;
    display: flex;
    padding: 10px;
    background: #696969;
}
.bottom-panel input {
    flex: 1;
    padding: 8px;
    background: #222;
    color: #808080;
}
.bottom-panel button {
    margin-left: 10px;
    padding: 8px 16px;
    background: #4da6ff;
    cursor: pointer;
}
#imgBtn {
    margin-left: 6px;
    padding: 8px 12px;
    background: #333;
    cursor: pointer;
    color: black;
}
